// COLORS
//Neutrals
$grey: #817d92;
$dark-grey: #24232c;
$very-dark-grey: #18171f;
$off-white: #e6e5ea;
//Primary
$neon-green: #a4ffaf;
//Accents
$red: #f64a4a;
$orange: #fb7c58;
$yellow: #f8cd65;

//FONT WEIGHTS
$font-wt-bold: 700;
