@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  background-color: #18171f;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
  line-height: 1;
  color: #e6e5ea; }

.container {
  width: 30%; }

.section-settings {
  background-color: #24232c;
  padding: 2rem 1.6rem; }

.title {
  color: #817d92;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem; }

.section-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  background-color: #24232c;
  margin-bottom: 1.6rem; }
  .section-password__password {
    font-size: 2.4rem; }
  .section-password__copy-icon {
    width: 2.4rem;
    height: 2.4rem;
    color: #a4ffaf; }

.section-settings__length {
  display: flex;
  justify-content: space-between;
  align-items: center; }
