.section-settings__btn-generate {
  padding: 1.2rem;
  background-color: $neon-green;
  text-transform: uppercase;
  font-size: 1.8rem;
  border: none;
  font-family: inherit;
  font-weight: inherit;
}
