.section-password {
  @include flex-center;
  padding: 1.6rem;
  justify-content: space-between;
  background-color: $dark-grey;
  margin-bottom: 1.6rem;
  &__password {
    font-size: 2.4rem;
  }
  &__copy {
    &-icon {
      width: 2.4rem;
      height: 2.4rem;
      color: $neon-green;
    }
  }
}
