.section-password {
  @include flex-space-between;
  padding: 1.6rem;
  background-color: $dark-grey;
  margin-bottom: 1.6rem;
  color: $grey;
  &__password {
    font-size: 2.4rem;
  }
  &__copy {
    @include flex-center;
    gap: 0.8rem;
    &-icon {
      width: 2.4rem;
      height: 2.4rem;
      color: $neon-green;
    }
    &-text {
      text-transform: uppercase;
      color: $neon-green;
      font-size: 1.4rem;
    }
  }
}
